In [1]:
#Imports
import os
import re
import pandas as pd
import numpy as np
import nltk
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
from google.colab import drive

In [2]:
#Mount and access drive
drive.mount('/content/drive',force_remount=True)
os.chdir('/content/drive/My Drive/Few-Shot-Tamil')
print("Change successful.")

Mounted at /content/drive
Change successful.

In [3]:
#Load the datasets
#One shot
one_shot_real = pd.read_csv('one-shot-real.csv',  sep='\t')
one_shot_real.head()

,English version,Label,News,Author,Date,URL
0,Actor Jayam Ravi has Corona,['entertainment'],நடிகர் ஜெயம் ரவிக்கு,தினத்தந்தி,22-10-2022 02:53,https://www.dailythanthi.com/Cinema/CinemaNews...
1,A football god about the 'hands of God',['misc'],‘கடவுளின் கை’களைப் பற்றிய கால்பந்துக் கடவுள்,ஆதி,01-Dec-20,https://www.hindutamil.in/news/supplements/ila...
2,Cameras mandatory in school buses: Tamil Nadu ...,['politics'],பள்ளி பேருந்துகளில் கேமரா கட்டாயம்: தமிழக அரச...,செய்திப்பிரிவு,21-Oct-22,https://www.hindutamil.in/news/tamilnadu/88576...
3,36th National Games | 4 gold medals for Tamil ...,['sport'],36-வது தேசிய விளையாட்டு | ஒரே நாளில் தமிழகத்த...,செய்திப்பிரிவு,02-Oct-22,https://www.hindutamil.in/news/sports/877427-3...
4,Introducing NoiseFit Core 2 Smartwatch: Amazin...,['tech'],நாய்ஸ்ஃபிட் கோர் 2 ஸ்மார்ட்வாட்ச் அறிமுகம்: 5...,செய்திப்பிரிவு,22-Aug-22,https://www.hindutamil.in/news/technology/8467...

In [4]:
#Load the datasets
#One shot
one_shot_fake = pd.read_csv('one-shot-fake.csv',  sep='\t')
one_shot_fake.head()

,English version,Label,News,Author,Date,URL
0,Says Daniel Radcliffe has the coronavirus.,entertainment,டேனியல் ராட்கிளிஃப் கொரோனா வைரஸால் பாதிக்கப்பட...,Tweets,"stated on March 10, 2020 in in a tweet:",/factchecks/2020/mar/11/tweets/no-daniel-radcl...
1,"Says ""there is no"" COVID-19 virus.",miscellaneous,"COVID-19 வைரஸ் ""இல்லை"" என்கிறார்.",Facebook posts,"stated on March 19, 2020 in a post:",/factchecks/2020/mar/19/facebook-posts/faceboo...
2,"Says President Donald Trump said, ""People are ...",Politics,"அமெரிக்க அதிபர் டொனால்ட் டிரம்ப், “இதுவரை இறக்...",Facebook posts,"stated on March 18, 2020 in a Facebook post:",/factchecks/2020/mar/19/facebook-posts/no-trum...
3,Kieron Pollard is good: Viral 'Kieron Pollard ...,sport,Kieron Pollard நல்லாதான் இருக்காரு: Viral ஆன ‘...,undefined,"Jan 29, 2021, 07:56 PM IST",https://zeenews.india.com/tamil/social/kieron-...
4,PIB fact check: Link between 5G radiation and ...,tech,PIB fact check: 5 ஜி கதிர்வீச்சுக்கும் COVID-1...,undefined,"May 8, 2021, 11:20 PM IST",https://zeenews.india.com/tamil/social/pib-fac...

In [5]:
#Load the datasets
#Three shot
three_shot_real = pd.read_csv('three-shot-real.csv',  sep='\t')
three_shot_real.describe()

,English version,Label,News,Author,Date,URL
count,15,15,15,15,15,15
unique,15,5,15,6,14,15
top,Actor Jayam Ravi has Corona,['entertainment'],நடிகர் ஜெயம் ரவிக்கு,செய்திப்பிரிவு,20-Oct-22,https://www.dailythanthi.com/Cinema/CinemaNews...
freq,1,3,1,8,2,1

In [6]:
#Load the datasets
#Three shot
three_shot_fake = pd.read_csv('three-shot-fake.csv',  sep='\t')
three_shot_fake.describe()

,English version,Label,News,Author,Date,URL
count,15,15,15,15,15,15
unique,15,9,15,8,15,15
top,Says Daniel Radcliffe has the coronavirus.,miscellaneous,டேனியல் ராட்கிளிஃப் கொரோனா வைரஸால் பாதிக்கப்பட...,Bloggers,"stated on March 10, 2020 in in a tweet:",/factchecks/2020/mar/11/tweets/no-daniel-radcl...
freq,1,3,1,3,1,1

In [7]:
#Load the datasets
#Five shot
five_shot_real = pd.read_csv('five-shot-real.csv',  sep='\t')
five_shot_real.describe()

,English version,Label,News,Author,Date,URL
count,25,25,25,25,25,25
unique,25,5,25,7,22,25
top,Actor Jayam Ravi has Corona,['entertainment'],நடிகர் ஜெயம் ரவிக்கு,செய்திப்பிரிவு,20-Oct-22,https://www.dailythanthi.com/Cinema/CinemaNews...
freq,1,5,1,14,4,1

In [8]:
#Load the datasets
#Five shot
five_shot_fake = pd.read_csv('five-shot-fake.csv',  sep='\t')
five_shot_fake.describe()

,English version,Label,News,Author,Date,URL
count,25,25,25,25,25,25
unique,25,11,25,17,25,25
top,Says Daniel Radcliffe has the coronavirus.,['politics'],டேனியல் ராட்கிளிஃப் கொரோனா வைரஸால் பாதிக்கப்பட...,Facebook posts,"stated on March 10, 2020 in in a tweet:",/factchecks/2020/mar/11/tweets/no-daniel-radcl...
freq,1,4,1,3,1,1

In [9]:
#Fix the labels for the fake news mini-corpora
#Fix one shot fake
one_shot_fake['Label'] = one_shot_fake['Label'].apply(lambda x: re.sub('[^a-zA-Z]+', '', str(x)))
one_shot_fake['Label'].unique()

array(['entertainment', 'miscellaneous', 'Politics', 'sport', 'tech'],
      dtype=object)

In [10]:
#Fix the labels for the fake news mini-corpora
#Fix three shot fake
three_shot_fake['Label'] = three_shot_fake['Label'].apply(lambda x: re.sub('[^a-zA-Z]+', '', str(x)))
three_shot_fake['Label'].unique()

array(['entertainment', 'miscellaneous', 'politics', 'sport', 'tech'],
      dtype=object)

In [11]:
#Fix the labels for the fake news mini-corpora
#Fix three shot fake
three_shot_fake['Label'] = three_shot_fake['Label'].apply(lambda x: re.sub('[^a-zA-Z]+', '', str(x)))
three_shot_fake['Label'].unique()

array(['entertainment', 'miscellaneous', 'politics', 'sport', 'tech'],
      dtype=object)

In [12]:
#Fix the labels for the fake news mini-corpora
#Fix five shot fake
five_shot_fake['Label'] = five_shot_fake['Label'].apply(lambda x: re.sub('[^a-zA-Z]+', '', str(x)))
five_shot_fake['Label'].unique()

array(['entertainment', 'miscellaneous', 'politics', 'sport', 'tech'],
      dtype=object)